* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.signup-box {
    background-color: white;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.signup-box h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #fc8019;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    color: #333;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.input-group input:focus {
    border-color: #fc8019;
    outline: none;
}
.submit-btn{
    text-decoration: none;
    width: 90%;
    padding: 20px;
    background-color: #fc8019;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.submit-btn a{
    text-decoration: none;
    width: 100%;
    padding: 12px;
    background-color: #fc8019;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn a:hover {
    background-color: #fc8019;
    
}

.login-link {
    margin-top: 20px;
    font-size: 14px;
    color: #555;
}

.login-link a {
    color: #fc8019;
    text-decoration: none;
}
